<?xml version="1.0"?>
<config>
    <modules>
        <Practice_Test>
            <version>0.1.0</version>
        </Practice_Test>
    </modules>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Practice_Test before="Mage_Adminhtml">Practice_Test_Adminhtml</Practice_Test>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <ccc_banner>
                    <file>practice_test.xml</file>
                </ccc_banner>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <helpers>
            <practice_test>
                <class>Practice_Test_Helper</class>
            </practice_test>
        </helpers>
        <models>
            <practice_test>
                <class>Practice_Test_Model</class>
                <resourceModel>practice_test_resource</resourceModel>
            </practice_test>
            <practice_test_resource>
                <class>Practice_Test_Model_Resource</class>
                <entities>
                    <test1>
                        <table>test1</table>
                    </test1>
                    <test2>
                        <table>test2</table>
                    </test2>
                    <test3>
                        <table>test3</table>
                    </test3>
                </entities>
            </practice_test_resource>
        </models>
        <resources>
            <test_setup>
                <setup>
                    <module>Practice_Test</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </test_setup>
        </resources>
        <blocks>
            <practice_test>
                <class>Practice_Test_Block</class>
            </practice_test>
        </blocks>
    </global>
</config>